/* Основные стили */
body {
    background-color: #25272b;
    margin: 0;
    color: white;
    font-family: Arkhip, sans-serif;
}


/* Фон страницы */
.image-container {
    background: url("BGR.jpg") no-repeat center/cover;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Меню */
.Buttons {
    display: flex;
    justify-content: center;
    height: 60px;
}

a.glo {
    flex-grow: 1;
    color: #ff0000;
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 400 18px Tahoma, sans-serif;
    border: 1px solid #ff0000;
    background: linear-gradient(to left, transparent 50%, #ff1100 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.25s ease-in, color 0.25s ease-in;
}

a.glo:hover {
    background-position: 0 0;
    color: #fff;
}

.content {
    position: relative;
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-containerAlbum {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Стили для кнопок переключения */
.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.prev-btn:hover, .next-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

/* Подвал */
#footer {
    background: black;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

#FText h2 {
    font-size: 10pt;
    margin: 0;
}

#FText h4 {
    font-size: 10pt;
    color: #ff0000;
    margin: 5px 0 0;
}

#icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

/* Блок ссылок */
#icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease, filter 0.3s ease;
    border: none; /* Убираем рамку */
    outline: none; /* Убираем контур */
}

/* Иконки белые по умолчанию */
#icons a img {
    width: 100%;
    height: auto;
}

/* Эффект при наведении */
#icons a:hover {
    transform: scale(1.2);
    filter: brightness(0.8) sepia(1) hue-rotate(180deg); /* Изменяем цвет */
}

/* Убираем нежелательные рамки */
#icons a:hover img {
    filter: brightness(0.8) sepia(1) hue-rotate(180deg);
}
