/* Основные стили */
body {
    background-color: #25272b; /* Цвет фона страницы */
    margin: 0;
    color: white;
    font-family: Arkhip, sans-serif;
}
/* Заголовки */
h1, h3 {
    font-family: Arkhip, sans-serif;
    color: #ff0000; /* Цвет текста заголовков */
    text-align: center;
}

h1 {
    font-size: 24pt;
}

h3 {
    font-size: 20pt;
}

/* Основной контейнер для контента */
#content {
    background: #50565f;
    width: 80%;
    margin: 20px auto; /* Центрируем */
    padding: 20px;
    border-radius: 8px;
    color: #fff;
}

/* Абзацы */
p {
    font-size: 15pt;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Списки */
ul, ol {
    margin-left: 20px;
}

ul li, ol li {
    font-size: 15pt;
    color: #fff;
    margin-bottom: 10px;
}

/* Описание в списках */
dl dt {
    color: #F34723; /* Заголовки в описаниях */
    font-size: 13pt;
}

dl dd {
    color: rgb(245, 244, 244);
    font-size: 14pt;
    margin-bottom: 10px;
}

/* Картинка фона */
.image-container {
    background: url("BGR.jpg") no-repeat center center/cover;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Меню */
.Buttons {
    display: flex;
    justify-content: center;
    height: 60px;
}

a.glo {
    flex-grow: 1;
    color: #ff0000;
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, transparent, transparent 50%, #ff1100 50%, #ff0000);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 0.25s ease-in;
    font: 400 18px tahoma;
    border: 1px solid #ff0000;
}

a.glo:hover {
    background-position: 0 0;
    color: #fff;
}

/* Footer */
#footer {
    background: black;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

/* Текст в footer */
#FText h2, #FText h4 {
    margin: 0;
    font-size: 10pt;
}

#FText h2 {
    color: #ffffff;
}

#FText h4 {
    color: #ff0000;
    margin-top: 5px;
}

/* Иконки в footer */
#icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

/* Ссылки в footer */
#icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease, filter 0.3s ease;
    border: none; /* Убираем рамку */
    outline: none; /* Убираем контур */
}

/* Иконки белые по умолчанию */
#icons a img {
    width: 100%;
    height: auto;
}

/* Эффект при наведении */
#icons a:hover {
    transform: scale(1.2);
    filter: brightness(0.8) sepia(1) hue-rotate(180deg); /* Изменяем цвет */
}
